* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: red 2px solid; */
}

body {
    background-color: var(--bg-color);
    display: grid;
    /* grid-template-rows: repeat(4, auto); */
    padding: 0px 60px;
}

button {
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px 20px;
    color: var(--grid-color);
    font-size: 16px;
    width: 220px;
}

h1 {
    text-align: center;
    margin: 1rem 0;
}

:root {
    --bg-color: #F7F4F3;
    --grid-color: #011936;
    --player-color: #F9DC5C;
    --bot-color: #F4FFFD;
    --reset-color: #ED254E;
}

.computer-score-button {
    background-color: var(--bot-color);
    

}

.player-score-button, .rounds-button {
    background-color: var(--player-color);

}

.reset-button {
    background-color: var(--reset-color);

}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, minmax(0,180px));
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 5px;
    justify-content: center;
    align-content: center;
    margin: 20px auto;
}

.cell {
    background-color: var(--grid-color);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.score-buttons, .footer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-bottom: 15px;
    justify-content: center;
}

.footer-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.rounds-button {
    background-color: white;
}

.reset-button {
    color: white;
}